html{
  min-width: 1200px;
}

.teaser {
  grid-column: text;
  width: 100%;
}

.two-imgs{
  display: flex;
  width: 350px;
}

#image-as-graph{
  justify-content: space-between;
  display: flex;
}

#image-as-graph > div {
  /*display: inline-block;*/
  /*margin-left: 40px;*/
  /*margin-right: 40px;*/
  flex: 1;
}

#image-as-graph svg{
  background: #aaa;
}

#image-as-graph svg{
  overflow: visible;
}

#image-as-graph text{
  pointer-events: none;
}

#image-as-graph .graph text.active{
  font-size: 12px;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
  font-weight: 600;

}

#image-as-graph .image text.active{
  font-size: 14px;
  font-weight: 600;
}

#image-as-graph .force text.active{
  font-size: 14px;
  font-weight: 600;
}

#image-as-graph .force .link.active{
  stroke: #315b7e; /*d3.color(steelblue).darker(1)*/
  stroke-width: 3px;
}


.fullscreen{
  margin-left: auto;
  margin-right: auto;
  grid-column: page;
  width: 100%;
  max-width: 2000px;
}

svg .link {
  cursor: auto;
}



.monospace{
  font-family: monospace;
}


#graph-to-tensor{
  justify-content: center;
  display: flex;
  line-height: 18px;
  width: 100%;
  user-select: none;
}

#graph-to-tensor .monospace{
  margin-top: -10px;
}

#graph-to-tensor > div {
  display: inline-block;
  /*margin-left: 40px;*/
  /*margin-right: 40px;*/
}


#graph-to-tensor{
  padding: 10px;
}

#pooling-table {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.chart-yellow-bg {
  background: rgb(255, 254, 247);
  outline: 1px solid #ccc;
  margin: 1px;
}

#graph-to-tensor > div{
  display: inline-block;

  background: rgb(255, 254, 247);
  outline: 1px solid #ccc;
  margin: 1px;
}

#graph-to-tensor > div:first-child{
  margin-right: 10px;
}

#graph-to-tensor .node, #graph-to-tensor .link, #graph-to-tensor .num{
  cursor: pointer;
}

#graph-to-tensor .comma-after{
  width: 11px;
  display: inline-block;
  margin-right: 20px;
  padding: 2px;
}
#graph-to-tensor .comma-after:after{
  content: ",";
  color: #000;
  margin-left: 6px;
}

#graph-to-tensor .comma-after:last-of-type:after, #graph-to-tensor .bracket-after:after{
  content: "]";
}

#graph-to-tensor .comma-after.adj{
  width: 55px;
  margin-right: 20px;
  white-space: nowrap;

}

#graph-to-tensor .hidden{
  display: none;
}


.annotations path{
  fill: none;
  stroke: #000;
  stroke-width: .8px;
  stroke-dasharray: 2 2;
}

.annotations text{
  font-size: 14px;
  font-weight: 300;
}



.chart-label{
  font-size: 12px;
}


p{
  background: rgba(255,255,255,.3);
}

h1{
  line-height: 1.33em;
}




/* Override distill styles - no mobile support */

/*
 * Copyright 2018 The Distill Template Authors
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

@media(min-width: 1px) {
  aside {
    grid-column: gutter;
  }

  .side {
    grid-column: gutter;
  }
}
@media(min-width: 1px) {
  d-title {
    padding: 4rem 0 1.5rem;
  }
}
@media(min-width: 1px) {
  d-title h1 {
    font-size: 50px;
  }
}

@media(min-width: 1px) {
  d-byline .byline {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media(min-width: 1px) {
  d-byline .authors-affiliations {
    margin-bottom: 0;
  }
}

@media(min-width: 1px) {
  html {
    font-size: 16px;
  }
}

@media(min-width: 1px) {
  .base-grid,
  distill-header,
  d-title,
  d-abstract,
  d-article,
  d-appendix,
  distill-appendix,
  d-byline,
  d-footnote-list,
  d-citation-list,
  distill-footer {
    grid-template-columns: [screen-start] 1fr [page-start kicker-start] 60px [middle-start] 60px [text-start kicker-end] 60px 60px 60px 60px 60px 60px 60px 60px [text-end gutter-start] 60px [middle-end] 60px [page-end gutter-end] 1fr [screen-end];
    grid-column-gap: 32px;
  }

  .grid {
    grid-column-gap: 32px;
  }
}



/*# sourceMappingURL=style.e308ff8e.css.map */